:root{
  --whiteColor: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}
*, *::after, *::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  background: var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700px;
  margin-bottom: 15px;
}
p{
  font-weight: 400;
}
.card{
  background: var(--whiteColor);
  padding: 20px;
  width: 280px;
  margin: 0px auto;
  border-radius: 15px;
  text-align: center;
}
.card img{
  width: 240px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.card_body{
  padding: 10px 12px;
}
.card_body h4{
  font-size: 16px;
}
.card_body p{
  color: var(--grayishBlue);
}